<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuche.wiki.mapper.ContentMapper">

    <resultMap type="com.liuche.wiki.domain.Content" id="ContentMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>

    <update id="updateContent">
        update content
        set content=#{content}
        where id = #{id}
    </update>

    <insert id="insertContent">
        insert into content (id, content)
        values (#{id}, #{content})
    </insert>

    <select id="selectOne" resultMap="ContentMap">
        select id, content
        from content
        where id = #{id}
    </select>

    <delete id="deleteContent">
        delete
        from content
        where id = #{id}
    </delete>

</mapper>

