<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuche.wiki.mapper.UserMapper">

    <resultMap type="com.liuche.wiki.domain.User" id="UserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="loginName" column="login_name" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="UserMap">
        select id,
               login_name,
               name,
               password
        from user
        where id = #{id}
    </select>

    <!--查找全部-->
    <select id="selectAll" resultMap="UserMap">
        select id,
               login_name,
               name,
               password
        from user
        where login_name like #{loginName}
    </select>

    <select id="selectAll1" resultMap="UserMap">
        select id,
               login_name,
               name,
               password
        from user
    </select>

    <update id="saveUser">
        update user
        set `name` = #{name}
        where id = #{id}
    </update>

    <delete id="deleteUser">
        delete
        from user
        where id = #{id}
    </delete>

    <insert id="saveUser2">
        insert into user(id,
                         login_name,
                         name,
                         password)
        values (#{id},
                #{loginName},
                #{name},
                #{password})
    </insert>

    <select id="selectByLoginName" resultMap="UserMap">
        select id,
               login_name,
               name,
               password
        from user
        where login_name = #{loginName}
    </select>


</mapper>

